<div class="row mb-3 my-2 p-3">
  <div class="col-md-4">
  <select class="form-select" [(ngModel)]="filtros.area" (change)="filtrarProgramas()">
    <option value="">Todas las áreas</option>
    <option *ngFor="let area of areas" [value]="area">{{ area }}</option>
  </select>
 </div>
  <div class="col-md-4">
  <select class="form-select" [(ngModel)]="filtros.tipo" (change)="filtrarProgramas()">
    <option value="">Todos los tipos</option>
    <option *ngFor="let tipo of tipos" [value]="tipo">{{ tipo }}</option>
  </select>
  </div>
  <div class="col-md-4">
  <select class="form-select" [(ngModel)]="filtros.modalidad" (change)="filtrarProgramas()">
    <option value="">Todas las modalidades</option>
    <option *ngFor="let m of modalidades" [value]="m">{{ m }}

    </option>
  </select>
  </div>
</div>

<div class="row">
  <div class="col-md-4 d-flex align-items-stretch" *ngFor="let programa of programasFiltrados">
      <div class="card p-3 mb-3 cardprograma h-100">
        <h3 class="tipoprograma baskerville">{{ programa.tipoprograma }}</h3>
        <h2 class="nombreprograma baskerville">{{ programa.nombre }}</h2>
        <div class="card d-flex cardsinborde">
          <img class="img-fluid imgcardprograma rounded-3" [src]="programa.imagen" alt="{{ programa.nombre }}" />
          <div class="card-img-overlay divfecha p-2 m-2">
            <h4 class="fechaprograma">{{ programa.fechainicio | date: 'mediumDate' }}</h4>
          </div>
        </div>
        <div>
          <div class="d-flex flex-row justify-content-between mt-2 mb-2">
            <h5 class="hora_modalidad">{{ programa.duracion }} horas <span class="ceus">({{ programa.ceus }} CEUs)</span></h5>
            <h5 class="hora_modalidad">{{ programa.modalidad }}</h5>
          </div>
          <div>
            <p class="resumenprograma">{{ programa.resumen}}</p>
          </div>
          <div>
            <a class="btn btn-primary btnprograma"
   [routerLink]="['/programa', generarSlug(programa.nombre)]">
   Ver Programa
</a>
          </div>
        </div>
      </div>
    </div>
</div>