<div class="container-fluid mt-4 mb-4">
    <div class="container-xl">
        <div class="row">
            <div class="container-fluid text-center mb-4">
                <h2 class="baskerville brandfontcolor">ACREDITACIONES</h2>
            </div>
        </div>
        <div class="row">
        <div class="col-6 text-center">
            <img src="assets/images/AP_Logo_spanish_color.jpg" class="img-fluid logoacreditaciones" alt="IACET">
            <p class="helvetica mt-4">
                Somos los únicos en Ecuador y los primeros en Latinoamérica en contar con la acreditación de la Accreditors for Continuing Education and Training – IACET, organización global que acredita la calidad y excelencia de programas  de educación continua bajo estándares ISO en formación profesional. 
            </p>
        </div>
        <div class="col-6 text-center">
            <img src="assets/images/Logo_ISPI_color.png" class="img-fluid logoacreditaciones" alt="IACET">
            <p class="helvetica mt-4">Somos los únicos en Ecuador y los primeros en Latinoamérica en contar con la acreditación de la Accreditors for Continuing Education and Training – IACET, organización global que acredita la calidad y excelencia de programas  de educación continua bajo estándares ISO en formación profesional.</p>
        </div>
        </div>
    </div>
</div>