<div class="container-fluid px-0 footer_color mt-5"> 
    <footer class="px-5 container-xxl"> 
        <div class="row mb-5">
            <div class="container-md justify-content-center">
                <div class="container-sm px-5 py-2 d-flex justify-content-center footer_logo_box container-logo"> 
                    <img src="assets/images/Logo EE-USFQ_blanco.png" alt="Logo Escuela de Empresas USFQ" class="footer_logo img_logo_footer">
                </div>

                <div class="container-sm d-flex justify-content-center color-direccion py-2">Av. Interoceánica S/N y Diego de Robles, Edificio Hayek Oficina H100</div>
                <div class="container-sm d-flex justify-content-center color-direccion py-2">+593 2 297-1707 / +593 297-1729 / +593 99-834-3218</div>
            </div>
        </div>

    <div class="row"> 
        <div class="col-4 col-md-3 mb-3 footer_text_color"> 
            <h5 class="footer_text_color">Programas</h5> 
            <ul class="nav flex-column mt-4"> 
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary footer_link_color">Maestrías</a>
            </li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary footer_link_color">Diplomados</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary footer_link_color ">Certificaciones</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary footer_link_color ">Certificados</a></li> 
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary footer_link_color ">Cursos</a></li>
        </ul> 
        </div> 
            
        <div class="col-4 col-md-3 mb-3">     
            <h5 class="titulo_columna_footer">Estudiantes</h5> 
            <ul class="nav flex-column mt-4"> 
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary footer_link_color">D2L</a></li> <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary footer_link_color">Actividades extracurriculares</a></li> <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary footer_link_color">Noticias</a></li> <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary footer_link_color">Artículos</a></li>  
            </ul> 
        </div> 
        
        <div class="col-4 col-md-3 mb-3"> 
            <h5 class="titulo_columna_footer">Profesores</h5> 
            <ul class="nav flex-column mt-4"> 
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary footer_text_color footer_link_color">Actualización de datos</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary footer_link_color">Trabaja con nosotros</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary footer_link_color">Becas</a></li> 
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary footer_link_color">Artículos</a></li>
            </ul> 
        </div> 
        
        <div class="col-4 col-md-3 mb-3"> 
            <h5 class="titulo_columna_footer">Empresas</h5> 
            <ul class="nav flex-column mt-4"> 
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary footer_link_color">Programas In-Company</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary footer_link_color">Programas Bajo-Demanda</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary footer_link_color">Clientes y testimonios</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary footer_link_color">Solicita un programa</a></li>
            </ul> 
        </div> 
    </div> 
                
                

</footer>
    <div class="container-fluid justify-content-between footer_fondo py-2">
        <div class="container-md">
        <p class="footer_text_color" style="margin-bottom: 0px;">&copy; 2025 Escuela de Empresas USFQ</p>
        </div>
    </div> 
</div>   
            
            <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>