.cream_background {
    background-color: #FAF3E9;
}

.active {
    color: #333333 !important;
    background-color: rgba(255, 255, 255, 0) !important;
}

.nav-link {
    color: #333333 !important;
    font-family: 'Baskervville', serif !important;
    font-size: 1.3rem !important;
    font-weight: 400 !important;
}

.nav-link.active {
    color: #851819 !important;
    text-decoration: underline !important;
    border: none !important;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-item {
    margin-right: 2rem !important;
}

.nav-link:hover {
    border: none !important;
}

.nav-link:focus {
    border: none !important;
}

.nav-link:focus-visible {
    border: none !important;
}

.form_input {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0 !important;
}

