<div class="my-0" style="background-image: url(/assets/images/Hero_programas_abiertos.jpg); background-size: cover; background-position: top; height: 60vh;">
<div class="background-overlay d-flex align-items-center" style="background-color: rgba(0, 0, 0, 0.35); height: 100%;">  
    <div class="container-xl pt-5 pb-5">
    <h4 class="fs-6 color_white baskerville tipo_programa shadow_programa">{{ programa.tipoprograma }} - {{ programa.modalidad }}</h4>
    <h1 class="display-5 fw-bold color_white baskerville titulo_programa shadow_programa">{{ programa.nombre }}</h1>
    <h5 class="color_white baskerville fecha_programa shadow_programa"> {{ programa.fechainicio | date:'EEEE d MMMM y' }}</h5>
        <div>
        <p class="color_white baskerville shadow_programa"><span class="hora_programa ">{{ programa.duracion }}</span> <br/> <span class="ceus_programa">{{ programa.ceus }} Unidades de Educación Continua CEUs</span></p>
        <p class="color_white baskerville shadow_programa"><span class="inversion">Inversión:</span> <span class="precio_programa"> ${{ programa.costo }}</span></p>
        <p class="color_white baskerville shadow_programa"><span class="precio_programa">Pronto pago:</span> <span class="precio_programa"> ${{ costoConDescuento | number:'1.0-2' }}</span><br/><span>*Aplica hasta 30 días antes del inicio del programa. Revisa condiciones.</span></p>
        </div>
    </div>
</div>
</div> 
