<div class="container-fluid py-5">
    <div class="container-xl">
         <div class="container-xxl d-flex justify-content-center">
    <h2 class="baskerville mt-2 mb-4 brandfontcolor">BENEFICIOS</h2>
  </div>
    </div>
    <div class="container-xl text-center my-4 py-4">
        <p class="helvetica">Escuela de Empresas de la Universidad San Francisco de Quito ofrece una experiencia educativa integral, respaldada por acreditaciones internacionales y una sólida infraestructura tecnológica. Los estudiantes tienen acceso a laboratorios de vanguardia, como el NeurotrainingLab y la Terminal Bloomberg, que facilitan el desarrollo de competencias clave para el liderazgo y la toma de decisiones en entornos empresariales dinámicos. Además, la institución promueve la aplicación práctica del conocimiento a través de casos de estudio, simuladores y proyectos innovadores que impactan positivamente en las organizaciones y la sociedad. Con una comunidad académica compuesta por expertos nacionales e internacionales, y una plataforma virtual de aprendizaje de clase mundial, la Escuela de Empresas se posiciona como un referente en la formación de profesionales capaces de liderar con integridad y libertad para crear valor en la sociedad.</p>
    </div>
    <div class="container-xl text-center my-4 py-4">
        <div class="row">
        <div class="col-3 p-4">
            <div class="icon">
                <img src="assets/iconos/graduation-cap-solid.svg" class="img-fluid icono" alt="Ícono graduación">
            </div>
            
            <p class="helvetica pt-4">Ser parte de la primera universidad de las artes liberales del mundo  hispano, que integra todas las áreas del saber para formar profesionales que lideran con integridad y libertad para crear valor en la sociedad.  Somos la Universidad #1 en el Ecuador y entre las mejores de  Latinoamérica, según el QS World University Ranking.</p>
        </div>
        <div class="col-3 p-4">
             <div class="icon">
                <img src="assets/iconos/landmark-solid.svg" class="img-fluid icono" alt="Ícono acreditaciones">
            </div>
            <p class="helvetica pt-4">Calidad académica garantizada gracias a nuestras acreditaciones internacionales. Nuestra maestría en administración de empresas cuenta con la prestigiosa acreditación de la Association of MBAs –  AMBA, solo el 2% de escuelas de negocios en el mundo cuentan con este  importante reconocimiento. Los programas de educación empresarial  cuentan con las acreditaciones internacionales de la International  Accreditors for Continuing Education and Training (IACET) y la  International Society for Performance Improvement (ISPI).</p>
        </div>
        <div class="col-3 p-4">
             <div class="icon">
                <img src="assets/iconos/vials-solid.svg" class="img-fluid icono" alt="Ícono infraestructura">
            </div>
            <p class="helvetica pt-4">Acceso a laboratorios con tecnología de punta. El NeurotrainingLab, una metodología que utiliza las neurociencias para desarrollar  competencias de liderazgo y mejorar el desempeño de profesionales y  directivos; y la Terminal Bloomberg, ícono moderno de los mercados financieros que permite el acceso a datos en tiempo real, noticias y análisis detallados sobre mercados  financieros a nivel global.</p>
        </div>
        <div class="col-3 p-4">
            <div class="icon">
                <img src="assets/iconos/suitcase-solid.svg" class="img-fluid icono" alt="Ícono aplicación práctica">
            </div>
            <p class="helvetica pt-4">Aplicación práctica en el mundo de los negocios. Nuestros estudiantes se destacan  por desarrollar e implementar proyectos sostenibles e innovadores que  impactan positivamente a sus organizaciones y a la sociedad.</p>
        </div>

        </div>
    </div>


</div>