.form_input {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0 !important;
    background-color: transparent !important;
}

.form_container {
    padding: 20px !important;
    background-color: #FAF3E9 !important;
    border-radius: 5px !important;
}