.header-bgcolor {
    background-color: #FAF3E9;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: var(--bs-gray);
    border-color: var(--bs-gray);
  }

.form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle:not(:focus) {
    outline: 0;
  }
  
  .logo_header {
    width: auto;
    height: 50px;
    margin-right: 10px;
  }

  .titulo_header {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  .div_titulo {
    display: flex;
    align-items: center;
    margin-right: 50px;
  }