.fecha_bloque_programa {
    font-size: 0.8em;
    color: #fff;
    font-weight: 200;
    text-transform: uppercase;
}

.img-carusel {
    height: 200px !important;
    width: 100%;
    object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%); /* blanco */
}

.carousel-control-prev {
    justify-content: left !important
}

.carousel-control-next {
    justify-content: right !important
}