<div class="container-xxl px-5 py-2">
  <div class="row">
    <div class="col-4">
        <div class="card text-bg-dark card_height">
        <img src="assets/images/Home_Maestrias.jpg" class="card-img" alt="Maestrías">
        <div class="card-img-overlay">
          <h5 class="card-title">Maestrías</h5>
          <p class="card-text">Maestría en administración de empresas – MBA, finanzas, gerencia de marketing, y gestión y desarrollo del talento en modalidad presencial. Dirigidas a profesionales que desean mejorar su desempeño y tienen el potencial de ocupar puestos de primer nivel, liderar equipos, gestionar iniciativas innovadoras o sus propios emprendimientos en Ecuador y el mundo.</p>
          <p class="card-text"><small>Ver más</small></p>
        </div>
        </div>
      </div>
          <div class="col-4">
        <div class="card text-bg-dark">
        <img src="assets/images/Home_Educacion_Empresarial.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Educación Empresarial</h5>
          <p class="card-text">Diplomados, certificaciones, certificados y cursos de educación continua, todos adaptados a la realidad y demandas del mercado y diseñados a través de una exhaustiva planificación por parte de un equipo de expertos. Además ofrecemos diplomas internacionales en diferentes países en donde los estudiantes se enriquecen de las mejores prácticas y realidad empresarial al visitar organizaciones referentes a nivel mundial en períodos intensivos de aprendizaje e inmersión cultural.</p>
          <p class="card-text"><small>Ver programas</small></p>
        </div>
        </div>
      </div>
          <div class="col-4">
        <div class="card text-bg-dark">
        <img src="assets/images/Home_In_Company.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">In-Company</h5>
          <p class="card-text">Programas hechos a la medida de las necesidades empresariales. Se trata de proyectos académicos e iniciativas para el desarrollo del talento alineados a los objetivos estratégicos que potencian la aplicación de competencias. Trabajamos en conjunto con las organizaciones a través de un proceso acreditado de consultoría y asesoría. Nuestros clientes son empresas locales y regionales, líderes a nivel mundial en sus segmentos.</p>
          <p class="card-text"><small>Ver programas</small></p>
        </div>
        </div>
      </div>
  </div>
</div>
