<div class="container-xxl px-5 py-2">
  <div class="row">
    <div class="col-4">
        <div class="card text-bg-dark card_height noborder">
        <img src="assets/images/Home_Maestrias.jpg" class="card-img-top imgheight" alt="Maestrías">
        <div class="card-body cardbackground">
          <h5 class="card-title text-center baskerville brandfontcolor">Maestrías</h5>
        </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-bg-dark card_height noborder">
        <img src="assets/images/Home_Educacion_Empresarial.jpg" class="card-img-top imgheight" alt="Eduación Empresarial">
        <div class="card-body cardbackground">
          <h5 class="card-title text-center baskerville brandfontcolor">Educación Empresarial</h5>
        </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-bg-dark card_height noborder">
        <img src="assets/images/Home_In_Company.jpg" class="card-img-top imgheight" alt="In Company">
        <div class="card-body cardbackground">
          <h5 class="card-title text-center baskerville brandfontcolor">In-Company</h5>
        </div>
        </div>
    </div>
  </div>
</div>
