.card_height {
    width: 100%;
}

.imgheight {
    height: 450px;
    overflow: hidden;
    object-fit: cover;
}

.img_card {
    overflow: hidden;
    object-fit: cover;
}

.cardbackground {
    background-color: #F4F4F4;
}

.noborder {
    border: none;
}