<div class="container-fluid px-5 py-2 mb-4">
  <div class="container-xl py-5">
    <h2 class="baskerville brandfontcolor text-center">NUESTROS PROGRAMAS</h2>
  </div>
  <div class="container-xl">
  <div class="row">
    <div class="col-sm-4">
        <div class="card card_height noborder px-4">
        <img src="assets/images/Home_Maestrias.jpg" class="card-img-top imgheight overflow-y-hidden" alt="Maestrías">
        <div class="card-body cardbackground">
          <h5 class="card-title text-center baskerville brandfontcolor">Maestrías</h5>
        </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card_height noborder px-4">
        <img src="assets/images/Home_Educacion_Empresarial.jpg" class="card-img-top imgheight overflow-y-hidden" alt="Eduación Empresarial">
        <div class="card-body cardbackground">
          <h5 class="card-title text-center baskerville brandfontcolor">Educación Empresarial</h5>
        </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card_height noborder px-4">
        <img src="assets/images/Home_In_Company.jpg" class="card-img-top imgheight" alt="In Company">
        <div class="card-body cardbackground">
          <h5 class="card-title text-center baskerville brandfontcolor">In-Company</h5>
        </div>
        </div>
    </div>
  </div>
  </div>
</div>
