body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.baskerville {
  font-family: 'Baskervville', serif !important;
}

.color_white {
  color: white !important;
}

.helvetica {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.brandbackground {
  background-color: #851819 !important;
}

.brandfontcolor {
  color: #851819 !important;
}

.nounderline {
  text-decoration: none !important;
}

.btnprograma {
    background-color: #851819 !important;
    border-color: #851819 !important;
}

.btnprograma:hover {
    background-color: #A52A2A !important;
    border-color: #A52A2A !important;
}