  <div class="container-fluid">
       
    <div class="container-xl">
      <div class="py-5 text-center">
        <h1 class="baskerville">Inscripción y pago</h1>
      </div>

      <div class="row">
        <!-- Comienza bloque derecho tu carrito -->
        <div class="col-md-4 order-2">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted baskerville">Tu carrito</span>
            <span class="badge rounded-pill brandbackground">{{ programasCarrito.length }}</span>
          </h4>
          
          <div class="card mb-2" *ngFor="let item of programasCarrito">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div class="row g-0">
                <div class="col-md-4 p-2">
                  <img [src]="item.programa.imagen" class="img-fluid rounded" alt="{{ item.programa.nombre }}">
                </div>
                <div class="col-md-8 p-2 align-content-center">
                  <h6 class="my-0 baskerville fs-5">
                    <a class="brandfontcolor" [routerLink]="['/programa', generarSlug(item.programa.nombre) + '-' + item.programa.id]">
                      {{ item.programa.nombre }}
                    </a>
                  </h6>
                  <div class="container-fluid d-flex px-0 py-0 my-0 mx-0 justify-content-between">
                    <div class="container px-0 align-content-center">
                    <span class="text-muted">${{ item.programa.costo }}</span>
                    </div>
                    <div class="container-sm d-flex justify-content-end align-content-center">
                    <button class="btn btn-sm btn-outline brandfontcolor border-1 border-black my-0" (click)="agregarPrograma(item.programa)">
                      +
                    </button>
                    <div class="container-sm text-center m-0 p-0 align-content-center" style="width: 40px;"><span class="text-muted">{{ item.cantidad }}</span></div>
                    <button class="btn btn-sm btn-outline brandfontcolor border-1 border-black my-0" (click)="eliminarPrograma(item.programa.id)">
                      -
                    </button>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </div>

        <!-- Bloque de total y descuento -->
          
          <div class="card d-flex  mt-3 mb-3 p-2">
            <div class="container-fluid d-flex justify-content-between">
            <span>Subtotal (USD)</span>
            <strong>${{ subtotal }}</strong>
            </div>
            <hr class="mb-1 mt-1">
            <div *ngIf="descuentoYaAplicado" class="container-fluid d-flex justify-content-between">
              <span>Descuento {{this.descuentocarrito.codigo}}:</span>
              <strong>${{ totaldescuento }}</strong>
            </div>
            <hr *ngIf="descuentoYaAplicado" class="mb-1 mt-1">
            <div class="container-fluid d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>${{ total }}</strong>
            </div>
          </div>
          
          <form *ngIf="!descuentoYaAplicado" class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Código promoción" aria-label="Descuento">
              <div class="input-group-append">
                <button type="submit" class="btn btn-secondary brandbackground rounded-start-0" (click)="aplicardescuento()">
                 Enviar
                </button>
              </div>
            </div>
          </form>

          <div *ngIf="descuentoYaAplicado" class="container">
            <button type="submit" class="btn btn-secondary brandbackground rounded border-0" (click)="eliminardescuento()">
                 Eliminar descuento
            </button>
          </div>


        </div>
         <!-- Termina bloque derecho tu carrito -->

        <!-- Empieza bloque izquierdo datos facturación, participante y pago -->

        <div *ngIf="this.programasCarrito.length > 0" class="col-md-8 order-1">
          <h4 class="mb-3 baskerville">Datos de facturación</h4>
          <div class="row">
            <div class="col mb-4">
              <input type="text" class="form-control baskerville" placeholder="Nombre" aria-label="nombre">
            </div>
            <div class="col mb-4">
              <input type="text" class="form-control baskerville" placeholder="Apellido" aria-label="Apellido">
            </div>
          </div>
          
          <div class="row">
            <div class="col mb-4">
              <input type="tel" class="form-control baskerville" placeholder="Celular" aria-label="celular">
            </div>
            <div class="col mb-4">
              <input type="text" class="form-control baskerville" placeholder="Correo electrónico" aria-label="email">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="country" class="baskerville">País</label>
              <select class="form-select" id="pais-select" [(ngModel)]="paises">
                <option value="" disabled selected>Escoge..</option>
                <option *ngFor="let pais of paises" [value]="pais.name">{{ pais.name }}</option>
              </select>
            </div>
            <div class="col">
              <label for="state" class="baskerville">Estado</label>
              <input type="text" class="form-control" aria-label="estado">
            </div>
            <div class="col mb-4">
              <label for="zip" class="baskerville">Código postal</label>
              <input type="text" class="form-control" aria-label="zip">
            </div>
            <div class="mb-4">
              <input type="text" class="form-control baskerville" placeholder="Dirección" aria-label="Direccion">
            </div>
          </div>

            <hr class="mt-4 mb-4">

            <!--Datos de participante por programa en el carrito-->
          <div class="container" *ngFor="let item of programasCarrito">
              
            <ng-container *ngFor="let i of item.cantidad | crearArray">
              <div class="row">
                <h4 class="mb-3 baskerville">Datos de participante para {{item.programa.nombre}} {{ i+1 }}</h4>
                <div class="col mb-4">
                  <input type="text" class="form-control baskerville" placeholder="Nombre" [attr.aria-label]="'nombre_pax_' + item.programa.id + '_' + i">
                </div>
                <div class="col mb-4">
                  <input type="text" class="form-control baskerville" placeholder="Apellido" [attr.aria-label]="'apellido_pax_' + item.programa.id + '_' + i">
                </div>
              </div>
              <div class="row">
                <div class="col mb-4">
                  <input type="text" class="form-control baskerville" placeholder="Cargo" [attr.aria-label]="'cargo_pax_' + item.programa.id + '_' + i">
                </div>
                <div class="col mb-4">
                  <input type="text" class="form-control baskerville" placeholder="Empresa" [attr.aria-label]="'empresa_pax_' + item.programa.id + '_' + i">
                </div>
              </div>
              <div class="row">
                <div class="col mb-4">
                  <input type="tel" class="form-control baskerville" placeholder="Celular" [attr.aria-label]="'celular_pax_' + item.programa.id + '_' + i">
                </div>
                <div class="col mb-4">
                  <input type="email" class="form-control baskerville" placeholder="Correo electrónico" [attr.aria-label]="'correo_pax_' + item.programa.id + '_' + i">
                </div>
              </div>
            </ng-container>

          </div>

            <hr class="mt-4 mb-4">

            <div class="row mt-2 mb-4">
              <h4 class="mb-3 baskerville">Datos de tarjeta de crédito</h4>

            </div>

            <div class="row mt-2 mb-2">
              <div class="col mb-4">
                <label for="Card1" class="baskerville">
                  Nombre
                </label>
                <input type="text" class="form-control"aria-label="card1">
                <small class="text-muted">
                  Nombre completo, como consta en la tarjeta.
                </small>
              </div>
              
              <div class="col mb-4">
                <label for="Tarjeta" class="baskerville">
                  Número de tarjeta
                </label>
                <input type="text" class="form-control" placeholder="1234-5678-9012" aria-label="Tarjeta">
              </div>
            </div>
            
            <div class="row">
              <div class="col mb-3">
                <label for="Card3" class="baskerville">
                  Fecha de expiración
                </label>
                <input type="text" class="form-control"aria-label="card3">
              </div>
              
              <div class="col mb-3">
                <label for="CVV" class="baskerville">
                  Código CVV
                </label>
                <input type="text" class="form-control"  aria-label="CVV">
              </div>
            </div>
            
             <hr class="mb-4">
        
        <div class="d-grid gap-2">
          <button class="btn btn-primary btn-lg brandbackground border-0" type="button" (click)="verificarTarjeta()">
            Realizar Pago
          </button>
        </div>

          </div>
        
        <div *ngIf="this.programasCarrito.length === 0" class="col-md-8 order-1 align-content-center text-center">
          <h2 class="fs-5 baskerville mb-4">No tienes nada en tu carrito, agregar un programa a tu carrito</h2>
          <a routerLink="/programas-abiertos" class="btn btn-primary btn-lg brandbackground border-0">Buscar un programa</a>

        </div>
        
       
        
      </div>

  </div>
</div>