<div class="my-0 text-center align-content-end" style="background-image: url(/assets/images/Hero_programas_abiertos.jpg); background-size: cover; background-position: top; height: 60vh;">
<div class="background-overlay d-flex align-items-center justify-content-center align-content-end" style="background-color: rgba(0, 0, 0, 0.3); height: 100%;">  
    <div class="container-sm w-75">
    <h1 class="display-5 fw-bold color_white baskerville">PROGRAMAS ABIERTOS</h1>
    <h5 class="color_white mt-4 mb-0 fw-lighter">Diplomados, certificaciones, certificados y cursos de educación continua, todos adaptados a la realidad y demandas del  mercado y diseñados a través de una exhaustiva planificación por parte  de un equipo de expertos. Además ofrecemos diplomas internacionales en diferentes países en donde los estudiantes se enriquecen de las  mejores prácticas y realidad empresarial al visitar organizaciones  referentes a nivel mundial en períodos intensivos de aprendizaje e  inmersión cultural.</h5>
    </div>
</div>
</div> 
